.dateStringBar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0.2em;
}

.dateString{
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.1em;
    border-radius: 5px;
    background-color: #ffffff;
}

.dateStringBar>img{
   height: 1.3em;
   width: 1.3em;
}

.is_completed{
    border: 0.2em solid;
    border-color: #a2a2a2;
}

.todo{
    width: 100%;
    margin-bottom: 0.3em;
    border: 0.2em solid;
    border-color: rgb(67, 193, 4);
    background-color: rgb(67, 193, 4);
}

.todo>.inner{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    height: auto;
}

.todo>.inner>.text{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.name{
    font-size: 1.5em;    
    text-align: center;
}

.date_string{
    font-size: 0.75em;
    text-align: center;
}

.todo>.inner>*{
    align-self: center;
}

.todo>.inner>.hamburger_img{
    width: 1.3em;
    height: 1.3em;
    margin-left: -3.6em;/*引き算させる*/
    margin-right: 0;
}

.todo>.inner>.hamburger_img>img{
    width: 1.3em;
    height: 1.3em;
    margin: 0;
}

.todo>.inner>.is_completed{
    border: 0.2em solid;
    border-color: #a2a2a2;
    margin-left: 0.5em;
    margin-right: 0.3em;
    width: 1.4em;
    height: 1.4em;
}

.todo>.inner>.is_completed>img{
    display: block;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

.todo>.contents{
    backdrop-filter: brightness(135%);
    padding: 0;
}

.content{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    border-color: rgb(157, 157, 157);
}

.content>*{
    align-self: center;
}

.content>.name{
    margin-right: auto;
    text-align: center;
}

.is_completed{
    width: 0.8em;
    height: 0.8em;
}

.is_completed>img{
    display: block;
    width: 0.8em;
    height: 0.8em;
    margin: 0;
}

.in_month_table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 2px solid #a2a2a2;

}

.in_month_table>tbody>tr>th{
    border-bottom: 2px solid #a2a2a2;
}

.in_month_table>tbody>.day_list{
    border-top: 2px solid #a2a2a2;
    border-bottom: none;
}

.in_month_table>tbody>.todo_list{
    border: 2px solid #a2a2a2;
    border-top: none;
    border-bottom: none;
}

.in_month_table>tbody>.day_list>td{
    border: 2px solid #a2a2a2;
    border-top: none;
    border-bottom: none;

    color: #4f4f4f;
}

.in_month_table>tbody>.todo_list>.single{
    border: 2px solid #a2a2a2;
    border-top: none;
    border-bottom: none;
}

.todo_in_month{
    border-radius: 0.4em;
}

.project{
    border-radius: 1em;
    display: flex;
    margin-bottom: 1em;
}

.project>.text{
    margin-left: auto;
    margin-right: auto;
}

.project>.is_completed{
    width: 2em;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.project>.is_completed>img{
    width: 2em;
    height: 2em;
}

.is_private{
    text-align: left;
    margin-left: -0.25em;
    margin-right: -7em;
    margin-top: -0.5em;
    background-color: #e98675;
    height: 1.5em;
    border-radius: 1.5em;
}

.terminal{
    display: flex;
    background-color: aqua;
    margin-bottom: 1.5em;
    padding: 0.5em 0.2em;
}

.terminal>.delete_button{
    margin-left: auto;
}

.a_in_contents{
    color: rgb(3, 3, 133);
    border-bottom: 2px solid rgb(3, 3, 133);
}

.subscriber{
    display: flex;
    border-radius: 2em;
    background-color: aqua;
    margin-bottom: 1em;
}

.subscriber>.is_now_invitation{
    text-align: left;
    margin-left: -0.25em;
    margin-right: -7em;
    margin-top: -0.5em;
    background-color: #6abe24;
    height: 1.5em;
    border-radius: 1.5em;
}

.subscriber>.text{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.subscriber>.select{
    margin-right: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
}

.subscriber>.delete_button{
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.add_content_img{
    background-color: rgb(66, 99, 233);
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

textarea{
    width: 100%;
    resize: none;
    font-size: 0.7em;
}

.todo_on_responsible{
    display: flex;
    border-radius: 2em;
    background-color: aqua;
    margin-bottom: 1em;
}

.todo_on_responsible>.is_now_invitation{
    text-align: left;
    margin-left: -0.25em;
    margin-right: -7em;
    margin-top: -0.5em;
    background-color: #6abe24;
    height: 1.5em;
    border-radius: 1.5em;
}

.todo_on_responsible>.text{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.todo_on_responsible>.delete_button{
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    width: 3em;
}

.notice{
    display: flex;
    background-color: rgb(3, 255, 78);
    margin-bottom: 1.5em;
    padding: 0.5em 0.2em;
    border-radius: 1em;
}

.notice>.is_todo_notice{
    text-align: left;
    margin-left: -0.25em;
    margin-right: -5.5em;
    margin-top: -1.25em;
    background-color: #009945;
    height: 1.5em;
    border-radius: 1.5em;
}

.notice>.is_project_notic{
    text-align: left;
    margin-left: -0.25em;
    margin-right: -7em;
    margin-top: -1.25em;
    background-color: #ee0a87;
    height: 1.5em;
    border-radius: 1.5em;
}

.notice>.name{
    margin: auto;
}

/**
* スマホ向け
*/
@media (max-width: 767px) {
    textarea{
        width:100%;
        font-size: 4em;
    }
}